*{
    margin: 0;
    padding: 1px;
    font-family: 'Poppins', sans-serif;
}

/* header and navigation styles */
.header{
    background: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    
}
.nav-title{
    font-weight:200px;
    font-size: 40px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.btn-primary{
    margin: 10px;
    height: 40px;
    border-radius: 5px;
    background-color:#FF900E;
    align-items: center; 
}

/* ----------------
banner style
------------------ */
.banner{
     margin: 0 200px;
}
.banner-section{
    text-align: center;
    align-items: center;
   
}
.banner-img {
    align-items: center;
    text-align: center;
}
.banner-img img{
    height: 500px;
    width: 1100px;
   margin-top: 20px;
   padding-bottom: 100px;
}

/* section */
.container{
    width: 1400px;
    display: flex;
    align-items: center;
    padding-bottom:100px; 
}
.img-grid {
     width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    padding-left: 190px;
}

.text-right{
    text-align:left;
    padding-left: 20px;

}
.list{
    color: darkgray;
}
.feature{
    color:#FF900E ;
}

/* second section */
.container-2{
    margin:50px 200px;
    display:flex;
    padding-bottom:30px;
}

.text{
    padding-bottom: 20px; 
    border: 1px solid gainsboro;
}


.Experience{
    background-color:#FF900E;
    padding: 30px;
    text-align: right;
    width: 150px;
    position: relative;
    position: absolute;
}
.img-split img{
  width: 500px;
  height: 700px ;
  
}

/* third section */
.container-3{
    display: grid;
    margin:50px 200px;
    padding: 100px;
}
.facts{
    padding-bottom: 10px;
}
.container-img{
    margin-top: 40px;
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(4,1fr);
  
}
.box{
    border: 1px solid  tomato;
    padding:20px;
    text-align: center; 
}
.box:hover{
    color:blueviolet ;
}


/* last one */
.container-4{
    margin:50px 200px;
    padding: 50px;
}
.adv{
    text-align: center;
}
.spons{
    padding-bottom: 20px;
}
.para{
    padding-bottom: 20px;
}
.img-spn{
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(5,1fr);
    
}

/* khatam */
.containerrr{
    margin:50px 200px;
    text-align: center;
    background-color: antiquewhite;
    padding: 30px;
    
}


/* ---------
extra------ */
.contain{
    height: 600px;
    width: 1600px;
}
.hero-title{
    font-weight:200px;
    font-size: 60px;
   text-align: center;
   padding-top: 40px;
   background-color:burlywood;
   
}
.hero{
    font-size: 20px;
    background-color:bisque;
}
.field{
    border: 1px solid;
    height: 400px;
}
.ball{
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background-color: red;
    position: relative;
    left: 300px;
    transition: 1s ease-out 0.2s;
}
.field:hover .ball{
    transform: translate(1000px,-250px);
}
.bat{
    transition: transform 0.2s ease-in;
}
.field:hover .bat{
    transform: rotate(-60deg);
    transform-origin: top right ;
}

  

/* media quaries */

/* ---------------
mobile devices
------------------- */
@media only screen  and (max-width:550px){

    nav{
        display: contents;
    }
    nav ul{
        display: grid;
    }
    .banner{
        margin: 0;
    }
    .banner-img img{
        height: 600px;
        width: 700px;
    
    }

   .container{
    display: grid;
    width: 100%s;
   }

   .img-grid {
    width: 100%;
    grid-template-columns: repeat(1,1fr);
    padding-left: 0;
}

.container-2{
        display: contents;
}

.container-3{
    display: contents;
}
.container-img{
    grid-template-columns: repeat(1,1fr);
}
.container-4{
    margin: 0;
}
.img-spn{
    display: contents;
    grid-template-columns: repeat(1,1fr);
    padding-bottom: 20px;
}

.containerrr{
    margin:0;
    padding: 30px;
}

.contain{
    height: 400px;
    width: 400px;
}

.field{
    display: contents;
}
}