*{
    margin: 0;
    padding: 1px;
    font-family: 'Poppins', sans-serif;
}

/* header and navigation styles */
.header{
    background-color: antiquewhite;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight:200px;
    font-size: 40px;
}
nav ul{
    display: flex;
  
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.btn-primary{
    margin: 10px;
    height: 40px;
    border-radius: 5px;
    background-color:#FD6E0A;
    align-items: center; 
}

/* ----------------
banner style
------------------ */
.banner{
    margin: 0 200px;
}
.banner-section{
    text-align: center;
    align-items: center;
}
.banner-img {
    align-items: center;
    text-align: center;
}
.banner-img img{
    height: 500px;
    width: 1100px;
   margin-top: 20px;
   padding-bottom: 100px;
}

/* section */
.container{
    width: 1400px;
    display: flex;
    align-items: center;
    /* margin:50px 200px; */
    padding-bottom:100px;

    
}
.img-grid {
     width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    padding-left: 190px;
}
/* .img-grid img{
    width: 200px;
    height: 200px;
} */
.text-right{
    /* width: 50%; */
    text-align:left;
    padding-left: 20px;

}

/* second section */
.container-2{
    margin:50px 200px;
    display:flex;
    /* white-space: nowrap;
    text-overflow: ellipsis; */
    padding-bottom:30px;
    /* background-color: darkgray;    */
}
.description{
    /* background-color: darkgray;    */
    background-color: white;
}

.text{
    padding-bottom: 20px;
    background-color: white;
}
.Experience{
    background-color:#FD6E0A;
    padding: 30px;
    text-align: right;
    width: 150px;
    margin-left: -20px;
    margin-top: -20px;
}
.img-split img{
  width: 500px;
  height: 700px ;
  
}

/* third section */
.container-3{
    display: grid;
    margin:50px 200px;
    padding: 100px;
}
.facts{
    padding-bottom: 10px;
}
.container-img{
    margin-top: 40px;
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(4,1fr);

}
.box{
    border: 1px solid  tomato;
    padding:20px;
    text-align: center;
    
}

/* last one */
.container-4{
    margin:50px 200px;
    padding: 50px;
}
.adv{
    text-align: center;
}
.spons{
    padding-bottom: 20px;
}
.para{
    padding-bottom: 20px;
}
.img-spn{
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(5,1fr);
    
}

/* khatam */
.containerrr{
    margin:50px 200px;
    text-align: center;
    background-color: antiquewhite;
    padding: 30px;
    
}