*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* header and navigation styles */
.header{
    background-color: antiquewhite;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight:200px;
    font-size: 40px;
}
nav ul{
    display: flex;
  
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.btn-primary{
    margin: 10px;
    height: 40px;
    border-radius: 5px;
    background-color: #FD6E0A;
    align-items: center;
}

/* ----------------
banner style
------------------ */
.banner{
    margin: 0 200px;
}
.banner-section{
    text-align: center;
    align-items: center;
}
.banner-img {
    align-items: center;
    text-align: center;
}
.banner-img img{
    height: 500px;
    width: 1100px;
   margin-top: 20px;
   padding-bottom: 100px;
}
.container{
    /* width: 1200px; */
    display: flex;
    align-items: center;
    margin:50px 200px;
    padding-bottom:100px;
    
}
.img-grid {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}
/* .img-grid img{
    width: 200px;
    height: 200px;
} */
.text-right{
    width: 50%;
}

/* second section */
.container-2{
    display:flex;
    margin:50px 200px;
    padding-bottom:100px;
  
    
}
.img-split{
  width: 100px;
  height: 100px ;
  
}

/* third section */
.container-3{
    display: grid;
    margin:50px 200px;
    padding: 200px;
}
.box-img{
    display:flex ;
    grid-gap:50px;
}

/* last one */
.container-4{
    margin:50px 200px;
    padding: 50px;
}
.adv{
    text-align: center;
}
.img-spn{
    grid-gap:70px;
    height: 50%;
}

/* khatam */
.containerrr{
    margin:50px 200px;
    text-align: center;
    background-color: antiquewhite;
}